# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [35]:
# Imports # use mlenv
import pandas as pd
import tensorflow as tf
from pathlib import Path 

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
'''# import file for google colab  
from google.colab import files
uploaded = files.upload() # upload the file to colab'''

In [16]:
# Import applicants_data.csv to Google Colab
df = pd.read_csv(Path('./Resources/applicants_data.csv'))
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:
# Import applicants_data.csv to Google Colab
applicant_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Review the data types associated with the columns
applicant_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [19]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_df = applicant_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
applicant_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [20]:
# Create a list of categorical variables 
categorical_variables = list(applicant_df.dtypes[applicant_df.dtypes == "object"].index
)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [21]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [22]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_df[categorical_variables])

c:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [25]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [30]:
# create numeric variables list
numerical_variables = list(applicant_df.dtypes[applicant_df.dtypes != "object"].index)
numerical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [32]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = encoded_df.merge(applicant_df[numerical_variables], left_index=True, right_index=True)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [33]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [34]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(["IS_SUCCESSFUL"], axis=1)

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [36]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [39]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [40]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_scaled[0])

# Review the number of features
number_input_features

116

In [41]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [42]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =   80

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

80

In [43]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 30

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

30

In [44]:
# Create the Sequential model instance
nn =  Sequential()

In [45]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [46]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [47]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [48]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                9360

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 11,821
Trainable params: 11,821
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [49]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 929us/step - loss: 0.5794 - accuracy: 0.7172
Epoch 2/50
804/804 [==============================] - 1s 890us/step - loss: 0.5535 - accuracy: 0.7304
Epoch 3/50
804/804 [==============================] - 1s 861us/step - loss: 0.5494 - accuracy: 0.7322
Epoch 4/50
804/804 [==============================] - 1s 854us/step - loss: 0.5480 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 1s 971us/step - loss: 0.5470 - accuracy: 0.7340
Epoch 6/50
804/804 [==============================] - 1s 913us/step - loss: 0.5454 - accuracy: 0.7340
Epoch 7/50
804/804 [==============================] - 1s 891us/step - loss: 0.5442 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 895us/step - loss: 0.5436 - accuracy: 0.7341
Epoch 9/50
804/804 [==============================] - 1s 889us/step - loss: 0.5428 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 936us/step - loss: 0.5424 - accuracy: 0.7357
Epoch 11/50
804/804 [==============================] - 1s 880us/step - loss: 0.5416 - accuracy: 0.7359
Epoch 12/50
804/804 [==============================] - 1s 871us/step - loss: 0.5413 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 1s 894us/step - loss: 0.5409 - accuracy: 0.7361
Epoch 14/50
804/804 [==============================] - 1s 870us/step - loss: 0.5401 - accuracy: 0.7367
Epoch 15/50
804/804 [==============================] - 1s 856us/step - loss: 0.5402 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 1s 879us/step - loss: 0.5393 - accuracy: 0.7365
Epoch 17/50
804/804 [==============================] - 1s 845us/step - loss: 0.5395 - accuracy: 0.7362
Epoch 18/50
804/804 [==============================] - 1s 840us/step - loss: 0.5391 - accuracy: 0.7361
Epoch 19/50
804/804 [==============================] - 1s 840us/step - loss: 0.5386 - accuracy: 0.7367
Epoch 20/50
804/804 [==============================] - 1s 821us/step - loss: 0.5380 - accuracy: 0.7369
Epoch 21/50
804/804 [==============================] - 1s 841us/step - loss: 0.5384 - accuracy: 0.7368
Epoch 22/50
804/804 [==============================] - 1s 862us/step - loss: 0.5377 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 1s 861us/step - loss: 0.5377 - accuracy: 0.7375
Epoch 24/50
804/804 [==============================] - 1s 898us/step - loss: 0.5368 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 917us/step - loss: 0.5363 - accuracy: 0.7376
Epoch 26/50
804/804 [==============================] - 1s 847us/step - loss: 0.5366 - accuracy: 0.7386
Epoch 27/50
804/804 [==============================] - 1s 859us/step - loss: 0.5361 - accuracy: 0.7369
Epoch 28/50
804/804 [==============================] - 1s 876us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 29/50
804/804 [==============================] - 1s 868us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 30/50
804/804 [==============================] - 1s 876us/step - loss: 0.5356 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 1s 858us/step - loss: 0.5351 - accuracy: 0.7390
Epoch 32/50
804/804 [==============================] - 1s 844us/step - loss: 0.5352 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 1s 883us/step - loss: 0.5349 - accuracy: 0.7390
Epoch 34/50
804/804 [==============================] - 1s 890us/step - loss: 0.5344 - accuracy: 0.7399
Epoch 35/50
804/804 [==============================] - 1s 848us/step - loss: 0.5347 - accuracy: 0.7401
Epoch 36/50
804/804 [==============================] - 1s 858us/step - loss: 0.5346 - accuracy: 0.7391
Epoch 37/50
804/804 [==============================] - 1s 838us/step - loss: 0.5342 - accuracy: 0.7387
Epoch 38/50
804/804 [==============================] - 1s 920us/step - loss: 0.5338 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 1s 843us/step - loss: 0.5337 - accuracy: 0.7408
Epoch 40/50
804/804 [==============================] - 1s 857us/step - loss: 0.5336 - accuracy: 0.7400
Epoch 41/50
804/804 [==============================] - 1s 883us/step - loss: 0.5335 - accuracy: 0.7395
Epoch 42/50
804/804 [==============================] - 1s 949us/step - loss: 0.5334 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 1s 857us/step - loss: 0.5334 - accuracy: 0.7390
Epoch 44/50
804/804 [==============================] - 1s 874us/step - loss: 0.5332 - accuracy: 0.7415
Epoch 45/50
804/804 [==============================] - 1s 875us/step - loss: 0.5330 - accuracy: 0.7405
Epoch 46/50
804/804 [==============================] - 1s 907us/step - loss: 0.5325 - accuracy: 0.7401
Epoch 47/50
804/804 [==============================] - 1s 867us/step - loss: 0.5328 - accuracy: 0.7400
Epoch 48/50
804/804 [==============================] - 1s 882us/step - loss: 0.5323 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 1s 874us/step - loss: 0.5326 - accuracy: 0.7398
Epoch 50/50
804/804 [==============================] - 1s 907us/step - loss: 0.5323 - accuracy: 0.7418

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [51]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5587 - accuracy: 0.7263 - 261ms/epoch - 976us/step
Loss: 0.5586920976638794, Accuracy: 0.7262973785400391

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [53]:
'''# Set the model's file path
file_path = "./AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)'''

NameError: name 'files' is not defined

In [62]:
from tensorflow.keras.models import model_from_json

# Set the model's file path
file_path = Path("./AlphabetSoup.h5")

# Load the model to a new object
nn = tf.keras.models.load_model(file_path)
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                9360

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 11,821
Trainable params: 11,821
Non-trainable params: 0
_________________________________________________________________

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [63]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [64]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [65]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 80

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

80

In [66]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 30

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

30

In [67]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 10

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

10

In [68]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [69]:

# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                9360

 dense_4 (Dense)             (None, 1)                 81

=================================================================
Total params: 9,441
Trainable params: 9,441
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [72]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 899us/step - loss: 0.5381 - accuracy: 0.7359
Epoch 2/50
804/804 [==============================] - 1s 839us/step - loss: 0.5384 - accuracy: 0.7371
Epoch 3/50
804/804 [==============================] - 1s 814us/step - loss: 0.5377 - accuracy: 0.7380
Epoch 4/50
804/804 [==============================] - 1s 836us/step - loss: 0.5376 - accuracy: 0.7368
Epoch 5/50
804/804 [==============================] - 1s 893us/step - loss: 0.5377 - accuracy: 0.7365
Epoch 6/50
804/804 [==============================] - 1s 894us/step - loss: 0.5373 - accuracy: 0.7374
Epoch 7/50
804/804 [==============================] - 1s 837us/step - loss: 0.5375 - accuracy: 0.7355
Epoch 8/50
804/804 [==============================] - 1s 833us/step - loss: 0.5367 - accuracy: 0.7379
Epoch 9/50
804/804 [==============================] - 1s 836us/step - loss: 0.5374 - accuracy: 0.7368
Epoch 10/50
804/804 [==============================] - 1s 866us/step - loss: 0.5364 - accuracy: 0.7385
Epoch 11/50
804/804 [==============================] - 1s 826us/step - loss: 0.5370 - accuracy: 0.7383
Epoch 12/50
804/804 [==============================] - 1s 839us/step - loss: 0.5366 - accuracy: 0.7389
Epoch 13/50
804/804 [==============================] - 1s 888us/step - loss: 0.5373 - accuracy: 0.7366
Epoch 14/50
804/804 [==============================] - 1s 869us/step - loss: 0.5374 - accuracy: 0.7386
Epoch 15/50
804/804 [==============================] - 1s 850us/step - loss: 0.5360 - accuracy: 0.7379
Epoch 16/50
804/804 [==============================] - 1s 860us/step - loss: 0.5360 - accuracy: 0.7376
Epoch 17/50
804/804 [==============================] - 1s 888us/step - loss: 0.5360 - accuracy: 0.7389
Epoch 18/50
804/804 [==============================] - 1s 833us/step - loss: 0.5363 - accuracy: 0.7383
Epoch 19/50
804/804 [==============================] - 1s 840us/step - loss: 0.5360 - accuracy: 0.7374
Epoch 20/50
804/804 [==============================] - 1s 839us/step - loss: 0.5363 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 1s 869us/step - loss: 0.5358 - accuracy: 0.7398
Epoch 22/50
804/804 [==============================] - 1s 856us/step - loss: 0.5355 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 1s 830us/step - loss: 0.5360 - accuracy: 0.7403
Epoch 24/50
804/804 [==============================] - 1s 819us/step - loss: 0.5356 - accuracy: 0.7380
Epoch 25/50
804/804 [==============================] - 1s 816us/step - loss: 0.5391 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 1s 856us/step - loss: 0.5363 - accuracy: 0.7391
Epoch 27/50
804/804 [==============================] - 1s 829us/step - loss: 0.5350 - accuracy: 0.7386
Epoch 28/50
804/804 [==============================] - 1s 849us/step - loss: 0.5354 - accuracy: 0.7389
Epoch 29/50
804/804 [==============================] - 1s 862us/step - loss: 0.5352 - accuracy: 0.7376
Epoch 30/50
804/804 [==============================] - 1s 902us/step - loss: 0.5348 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 1s 842us/step - loss: 0.5350 - accuracy: 0.7409
Epoch 32/50
804/804 [==============================] - 1s 822us/step - loss: 0.5349 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 1s 834us/step - loss: 0.5350 - accuracy: 0.7378
Epoch 34/50
804/804 [==============================] - 1s 872us/step - loss: 0.5353 - accuracy: 0.7402
Epoch 35/50
804/804 [==============================] - 1s 859us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 36/50
804/804 [==============================] - 1s 842us/step - loss: 0.5349 - accuracy: 0.7383
Epoch 37/50
804/804 [==============================] - 1s 829us/step - loss: 0.5352 - accuracy: 0.7389
Epoch 38/50
804/804 [==============================] - 1s 851us/step - loss: 0.5343 - accuracy: 0.7392
Epoch 39/50
804/804 [==============================] - 1s 869us/step - loss: 0.5388 - accuracy: 0.7394
Epoch 40/50
804/804 [==============================] - 1s 851us/step - loss: 0.5344 - accuracy: 0.7393
Epoch 41/50
804/804 [==============================] - 1s 828us/step - loss: 0.5343 - accuracy: 0.7397
Epoch 42/50
804/804 [==============================] - 1s 854us/step - loss: 0.5344 - accuracy: 0.7389
Epoch 43/50
804/804 [==============================] - 1s 855us/step - loss: 0.5339 - accuracy: 0.7388
Epoch 44/50
804/804 [==============================] - 1s 830us/step - loss: 0.5345 - accuracy: 0.7379
Epoch 45/50
804/804 [==============================] - 1s 867us/step - loss: 0.5347 - accuracy: 0.7400
Epoch 46/50
804/804 [==============================] - 1s 850us/step - loss: 0.5337 - accuracy: 0.7399
Epoch 47/50
804/804 [==============================] - 1s 862us/step - loss: 0.5344 - accuracy: 0.7384
Epoch 48/50
804/804 [==============================] - 1s 831us/step - loss: 0.5343 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 1s 856us/step - loss: 0.5340 - accuracy: 0.7397
Epoch 50/50
804/804 [==============================] - 1s 841us/step - loss: 0.5341 - accuracy: 0.7403

#### Alternative Model 2

In [73]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [75]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [76]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 80

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

80

In [77]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 30

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

30

In [78]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [79]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 80)                9360

 dense_6 (Dense)             (None, 1)                 81

=================================================================
Total params: 9,441
Trainable params: 9,441
Non-trainable params: 0
_________________________________________________________________

In [80]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [84]:
# Fit the model
fit_model_A2 =  nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 867us/step - loss: 0.5390 - accuracy: 0.7362
Epoch 2/100
804/804 [==============================] - 1s 889us/step - loss: 0.5396 - accuracy: 0.7368
Epoch 3/100
804/804 [==============================] - 1s 865us/step - loss: 0.5398 - accuracy: 0.7345
Epoch 4/100
804/804 [==============================] - 1s 890us/step - loss: 0.5383 - accuracy: 0.7375
Epoch 5/100
804/804 [==============================] - 1s 890us/step - loss: 0.5387 - accuracy: 0.7360
Epoch 6/100
804/804 [==============================] - 1s 896us/step - loss: 0.5388 - accuracy: 0.7364
Epoch 7/100
804/804 [==============================] - 1s 890us/step - loss: 0.5383 - accuracy: 0.7367
Epoch 8/100
804/804 [==============================] - 1s 904us/step - loss: 0.5386 - accuracy: 0.7361
Epoch 9/100
804/804 [==============================] - 1s 869us/step - loss: 0.5383 - accuracy: 0.7362
Epoch 10/100
804/804 [==============================] - 1s 856us/step - loss: 0.5383 - accuracy: 0.7378
Epoch 11/100
804/804 [==============================] - 1s 869us/step - loss: 0.5383 - accuracy: 0.7382
Epoch 12/100
804/804 [==============================] - 1s 868us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 13/100
804/804 [==============================] - 1s 865us/step - loss: 0.5375 - accuracy: 0.7366
Epoch 14/100
804/804 [==============================] - 1s 851us/step - loss: 0.5374 - accuracy: 0.7377
Epoch 15/100
804/804 [==============================] - 1s 850us/step - loss: 0.5373 - accuracy: 0.7373
Epoch 16/100
804/804 [==============================] - 1s 841us/step - loss: 0.5374 - accuracy: 0.7373
Epoch 17/100
804/804 [==============================] - 1s 865us/step - loss: 0.5375 - accuracy: 0.7379
Epoch 18/100
804/804 [==============================] - 1s 875us/step - loss: 0.5369 - accuracy: 0.7379
Epoch 19/100
804/804 [==============================] - 1s 880us/step - loss: 0.5371 - accuracy: 0.7384
Epoch 20/100
804/804 [==============================] - 1s 865us/step - loss: 0.5366 - accuracy: 0.7376
Epoch 21/100
804/804 [==============================] - 1s 874us/step - loss: 0.5369 - accuracy: 0.7383
Epoch 22/100
804/804 [==============================] - 1s 875us/step - loss: 0.5370 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 1s 866us/step - loss: 0.5362 - accuracy: 0.7389
Epoch 24/100
804/804 [==============================] - 1s 867us/step - loss: 0.5368 - accuracy: 0.7374
Epoch 25/100
804/804 [==============================] - 1s 866us/step - loss: 0.5364 - accuracy: 0.7387
Epoch 26/100
804/804 [==============================] - 1s 856us/step - loss: 0.5365 - accuracy: 0.7382
Epoch 27/100
804/804 [==============================] - 1s 887us/step - loss: 0.5364 - accuracy: 0.7387
Epoch 28/100
804/804 [==============================] - 1s 874us/step - loss: 0.5385 - accuracy: 0.7389
Epoch 29/100
804/804 [==============================] - 1s 862us/step - loss: 0.5361 - accuracy: 0.7403
Epoch 30/100
804/804 [==============================] - 1s 861us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 31/100
804/804 [==============================] - 1s 875us/step - loss: 0.5366 - accuracy: 0.7389
Epoch 32/100
804/804 [==============================] - 1s 872us/step - loss: 0.5358 - accuracy: 0.7386
Epoch 33/100
804/804 [==============================] - 1s 858us/step - loss: 0.5358 - accuracy: 0.7390
Epoch 34/100
804/804 [==============================] - 1s 870us/step - loss: 0.5363 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 1s 877us/step - loss: 0.5355 - accuracy: 0.7393
Epoch 36/100
804/804 [==============================] - 1s 869us/step - loss: 0.5360 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 1s 880us/step - loss: 0.5357 - accuracy: 0.7390
Epoch 38/100
804/804 [==============================] - 1s 874us/step - loss: 0.5350 - accuracy: 0.7390
Epoch 39/100
804/804 [==============================] - 1s 865us/step - loss: 0.5351 - accuracy: 0.7391
Epoch 40/100
804/804 [==============================] - 1s 859us/step - loss: 0.5356 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 887us/step - loss: 0.5349 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 1s 864us/step - loss: 0.5349 - accuracy: 0.7393
Epoch 43/100
804/804 [==============================] - 1s 907us/step - loss: 0.5351 - accuracy: 0.7383
Epoch 44/100
804/804 [==============================] - 1s 910us/step - loss: 0.5352 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 1s 870us/step - loss: 0.5352 - accuracy: 0.7394
Epoch 46/100
804/804 [==============================] - 1s 876us/step - loss: 0.5352 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 847us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 836us/step - loss: 0.5344 - accuracy: 0.7399
Epoch 49/100
804/804 [==============================] - 1s 848us/step - loss: 0.5353 - accuracy: 0.7377
Epoch 50/100
804/804 [==============================] - 1s 866us/step - loss: 0.5397 - accuracy: 0.7400
Epoch 51/100
804/804 [==============================] - 1s 846us/step - loss: 0.5341 - accuracy: 0.7400
Epoch 52/100
804/804 [==============================] - 1s 839us/step - loss: 0.5345 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 1s 851us/step - loss: 0.5341 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 1s 832us/step - loss: 0.5346 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 1s 891us/step - loss: 0.5344 - accuracy: 0.7381
Epoch 56/100
804/804 [==============================] - 1s 849us/step - loss: 0.5341 - accuracy: 0.7389
Epoch 57/100
804/804 [==============================] - 1s 847us/step - loss: 0.5345 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 1s 820us/step - loss: 0.5402 - accuracy: 0.7376
Epoch 59/100
804/804 [==============================] - 1s 833us/step - loss: 0.5345 - accuracy: 0.7397
Epoch 60/100
804/804 [==============================] - 1s 898us/step - loss: 0.5339 - accuracy: 0.7388
Epoch 61/100
804/804 [==============================] - 1s 841us/step - loss: 0.5337 - accuracy: 0.7389
Epoch 62/100
804/804 [==============================] - 1s 832us/step - loss: 0.5340 - accuracy: 0.7400
Epoch 63/100
804/804 [==============================] - 1s 845us/step - loss: 0.5339 - accuracy: 0.7406
Epoch 64/100
804/804 [==============================] - 1s 869us/step - loss: 0.5340 - accuracy: 0.7393
Epoch 65/100
804/804 [==============================] - 1s 859us/step - loss: 0.5338 - accuracy: 0.7392
Epoch 66/100
804/804 [==============================] - 1s 834us/step - loss: 0.5341 - accuracy: 0.7408
Epoch 67/100
804/804 [==============================] - 1s 829us/step - loss: 0.5337 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 1s 867us/step - loss: 0.5333 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 1s 836us/step - loss: 0.5339 - accuracy: 0.7403
Epoch 70/100
804/804 [==============================] - 1s 858us/step - loss: 0.5338 - accuracy: 0.7398
Epoch 71/100
804/804 [==============================] - 1s 853us/step - loss: 0.5334 - accuracy: 0.7398
Epoch 72/100
804/804 [==============================] - 1s 834us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 1s 849us/step - loss: 0.5337 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 1s 817us/step - loss: 0.5335 - accuracy: 0.7414
Epoch 75/100
804/804 [==============================] - 1s 830us/step - loss: 0.5396 - accuracy: 0.7392
Epoch 76/100
804/804 [==============================] - 1s 849us/step - loss: 0.5329 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 1s 891us/step - loss: 0.5330 - accuracy: 0.7396
Epoch 78/100
804/804 [==============================] - 1s 849us/step - loss: 0.5335 - accuracy: 0.7409
Epoch 79/100
804/804 [==============================] - 1s 818us/step - loss: 0.5333 - accuracy: 0.7390
Epoch 80/100
804/804 [==============================] - 1s 809us/step - loss: 0.5331 - accuracy: 0.7407
Epoch 81/100
804/804 [==============================] - 1s 828us/step - loss: 0.5332 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 1s 870us/step - loss: 0.5336 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 1s 831us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 1s 851us/step - loss: 0.5330 - accuracy: 0.7398
Epoch 85/100
804/804 [==============================] - 1s 856us/step - loss: 0.5339 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 1s 828us/step - loss: 0.5328 - accuracy: 0.7394
Epoch 87/100
804/804 [==============================] - 1s 851us/step - loss: 0.5330 - accuracy: 0.7396
Epoch 88/100
804/804 [==============================] - 1s 844us/step - loss: 0.5326 - accuracy: 0.7406
Epoch 89/100
804/804 [==============================] - 1s 859us/step - loss: 0.5326 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 1s 848us/step - loss: 0.5332 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 1s 868us/step - loss: 0.5327 - accuracy: 0.7419
Epoch 92/100
804/804 [==============================] - 1s 847us/step - loss: 0.5326 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 1s 832us/step - loss: 0.5326 - accuracy: 0.7408
Epoch 94/100
804/804 [==============================] - 1s 846us/step - loss: 0.5331 - accuracy: 0.7393
Epoch 95/100
804/804 [==============================] - 1s 850us/step - loss: 0.5329 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 1s 843us/step - loss: 0.5355 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 1s 831us/step - loss: 0.5324 - accuracy: 0.7390
Epoch 98/100
804/804 [==============================] - 1s 838us/step - loss: 0.5323 - accuracy: 0.7411
Epoch 99/100
804/804 [==============================] - 1s 834us/step - loss: 0.5325 - accuracy: 0.7394
Epoch 100/100
804/804 [==============================] - 1s 851us/step - loss: 0.5331 - accuracy: 0.7405

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [86]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5587 - accuracy: 0.7263 - 241ms/epoch - 899us/step
Loss: 0.5586920976638794, Accuracy: 0.7262973785400391

In [87]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5754 - accuracy: 0.7315 - 235ms/epoch - 877us/step
Loss: 0.5754100680351257, Accuracy: 0.7315452098846436

In [88]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5733 - accuracy: 0.7303 - 172ms/epoch - 640us/step
Loss: 0.5732854604721069, Accuracy: 0.7302623987197876

### Step 3: Save each of your alternative models as an HDF5 file.

In [95]:
# Set the file path for the first alternative model
file_path = Path("./Resources/AlphabetSoup_A1.h5")

# save the model to file
nn_A1.save(file_path)

# Set the file path for the second alternative model
file_path = Path("./Resources/AlphabetSoup_A2.h5")

# save the model to file
nn_A2.save(file_path)

In [92]:
'''# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)'''

'# Set the file path for the first alternative model\nfile_path = "AlphabetSoup_A1.h5"\n\n# Export your model to a HDF5 file\nnn_A1.save(file_path)\n\n# Download the model to your computer\nfiles.download(file_path)'

In [93]:
'''# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)'''

'# Set the file path for the second alternative model\nfile_path = "AlphabetSoup_A2.h5"\n\n# Export your model to a HDF5 file\nnn_A2.save(file_path)\n\n# Download the model to your computer\nfiles.download(file_path)'